#map{
    width: 100%;
    height: 400px;
}

.stars-outer {
   
    font-size: 52px;
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
  }
  
  .stars-outer::before {
    font-size: 52px;
  
    content: "\f006 \f006 \f006 \f006 \f006";
  }
  
  .stars-inner {
    font-size: 52px;
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
  }
  
  .stars-inner::before {
    font-size: 52px;
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;
  }
  
  .attribution {
    font-size: 12px;
    color: #444;
    text-decoration: none;
    text-align: center;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: -1;
  }
  .attribution:hover {
    color: #1fa67a;
  }
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: green;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px green;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.date-dropdown{
    display: inline-block;
    width: 35%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.custom-text{
    display: inline-block;
    width: 35%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance:none;
}
.custom-dropdown{
    display: inline-block;
    width: 35%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #d1d3e2;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%235a5c69' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
    border-radius: .35rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

#dash{
  width: 50%;
  height: 850px;
}

#posts-body{
  overflow-y: auto;
  overflow-x: hidden;
}

#foot{
  bottom: 0;
}