/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  /* Modal ContentBox */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px 20px 10px 20px;
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
    border-radius: 15px;
  }
  
  .modal-header {
    margin: -20px -20px 10px -20px;
    background-color: #196703;
    color: white;
    text-align: left;
    border-radius: 15px 15px 0px 0px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    align-content: right;
    text-align: right;
    display: block;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  button{
    background-color: #196703;
    text-decoration-color: white;
    color: white;
    border-block-end-color: #196703;
    border-radius: 10px;
    border: 2px solid #196703;
  }
  
  #respond{
    background-color: lightseagreen;
    text-decoration-color: white;
    color: white;
    border-block-end-color: lightseagreen;
    border-radius: 5px;
    width: 400px;
    height: 40px;
    margin: 0 auto;
    border: 2px solid lightseagreen;
  }
  
  #markSpam{
    background-color: red;
    text-decoration-color: white;
    color: white;
    border-block-end-color: red;
    width: 400px;
    height: 40px;
    margin: 0 auto;
    border: 2px solid red;
    border-radius: 5px;
  }
  
  #nullRecords{
    text-align: center;
    font-weight: bold;
  }
  
  #responded{
    width: 195px;
    height: 40px;
  }

  #approved{
    display: none;
  }
  
  #img{
    background-color: green;
    text-decoration-color: white;
    color: white;
    border-block-end-color: green;
    width: 400px;
    height: 40px;
    margin: 0 auto;
    border: 2px solid green;
    border-radius: 5px;
  }